doctype html
html
    head
        title Женский портал Уфы
        include includes
    body
        .container#wrapper
            include navbar
            .row#content
                .col-xs-9
                    include newslist
                .col-xs-3
                    include userbar