- var sitename = 'UfaBeaty'
- var mainCats = ['Красота', 'Диеты', 'Бижутерия', 'Сплетни', 'Фитнес']

- var search = 'Поиск'
- var searchPlaceholder = 'Как похудеть'

- var news = []
- news.push({image: 'news/1.jpg', header: 'Новый тренд: спускаемся на землю!', text: 'Не знаете, какую обувь выбрать этой весной? Следуя моде, спуститесь с небес на землю: отдайте предпочтение классическим «лодочкам» светлых тонов, ярким сапожкам с широким голенищем и удобным дезертам.'})
- news.push({image: 'news/2.jpg', header: 'Что нужно знать о лечении миомы матки', text: '‌Как правильно выбрать метод лечения при миоме матки? Если зайти на какой-нибудь женский форум и поискать там, то можно совершенно запутаться.'})
- news.push({image: 'news/3.jpg', header: 'Раскрыт секрет эффективных тренировок', text: 'То, что музыка способствует более эффективным тренировкам — неоспоримый факт. Главное — подобрать правильный плейлист, а также комфортную одежду, обувь и гаджеты для занятий спортом.'})

- var mainNew = {image: 'news/main.jpg', header: '«Богатые коты Instagram»: их «мяу» дорого стоит'}
- var learnMore = 'Узнать больше'